.eb-universal-table {
    color: black;
    display: block;
    overflow-x: auto;
    text-align: center;
    max-width: 100%;
}

.eb-universal-table > thead > tr {
    color: rgba(34, 34, 34, 0.5);
    border-bottom: 2px solid #D3D3D3;
}

.eb-universal-table > tbody > tr {
    border-bottom: 2px solid #E4E4E4;
}

.eb-universal-table th, .eb-universal-table td {
    padding: 12px;
    height: 80px;
    min-width: 166px;
}

.eb-universal-table > * > tr > *:first-child {
    text-align: left;
}

.eb-universal-table th {
    font-weight: 600;
}

/*Responsive styles */

@media (max-width: 600px) {
    .eb-universal-table {
        font-size: 12px;
    }

    .eb-universal-table th, .eb-universal-table td {
        padding: 8px;
        height: 80px;
        min-width: 67px;
    }
}

/*Variant overrides*/

.eb-logo-table > * > tr > *:first-child {
    text-align: center;
}

.eb-table-fill {
    width: 100%;
}

.eb-table-fill th, .eb-table-fill td {
    min-width: unset;
    width: auto;
}

